version: 2
updates:
  # Enable version updates for npm (app directory)
  - package-ecosystem: "npm"
    directory: "/app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      next:
        patterns:
          - "next"
          - "react"
          - "react-dom"
      eslint:
        patterns:
          - "eslint*"
          - "prettier"
      drizzle:
        patterns:
          - "drizzle*"
      supabase:
        patterns:
          - "@supabase/*"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
